.home__page {
  text-align: center;
  color: #fff;
}
.home__page h1 {
  font-size: 32px;
}
.home__page p {
  font-size: 18px;
  margin: 20px auto;
  width: 85%;
  font-weight: 300;
}
.home__page button {
  background: #fff;
  border: #fff;
  font-size: 16px;
  color: #333;
  border-radius: 3px;
  padding: 15px 15px;
  outline: none;
  font-weight: 600;
}
.home__page button:active {
  background: rgb(101, 101, 101);
  color: #fff;
}
